body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.ten_dau {
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
}

.login {
    width: 500px;
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman';
    margin: 100px auto;
    padding: 20px
}

.input {
    width: 260px;
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman';
    margin: 0px auto;
}

.button_login {
    color: black;
    font-size: 20px;
    margin: 30px 170px;
    background-color: salmon;
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
